@import "normalize";
@import "foundation/functions";
@import "foundation/components/grid";
@import "compass/css3";

a{
    color: #40C0E8;
    text-decoration: none;
}
p{
    margin: 0;
}
blockquote{
    position: relative;
    font-size: 1rem;
    margin-left: rem-calc(20);
    margin-right: 0;
    &:before{
        content: ' ';
        position: absolute;
        width: 3px;
        height: 100%;
        background: #40C0E8;
        left: rem-calc(-17);
    }
}
ul, ol{
    padding-left: rem-calc(20);
}
h1,h2,h3,h4{
    font-weight: 700;
    margin: 0;
}
h1{
    font-size: 2rem;
    line-height: 2rem;
}
h2{
  font-size: 1.5rem;
  line-height: 1.5rem;
}
h3{
  font-size: 1rem;
  line-height: 1.1rem;
}
h4{
  font-size: 0.9rem;
  line-height: 1rem;
}
body{
    background: url(../img/background.png);
    color: #353C41;
    font-weight: 300;
}
.align-center{
    text-align: center;
}

@import "app/form";
@import "app/portlet";

.site-wrapper.row{
    width: 100%;
    max-width: 100%;
    .body{
        > * {
            margin-top: rem-calc(16);
            &:first-child{
                margin-top: inherit;
            }
        }
    }
    .copyright{
        font-size: rem-calc(12);
        color: #000;
        font-weight: 400;
        text-align: center;
        a{
            font-weight: 700;
        }
    }
}
.site-header{
    background: #40C0E8;
    color: #525252;
    border-bottom: 1px solid #e9ecf3;
    @include clearfix();
    .logo {
        img {
            margin-top: rem-calc(6);
        }
        .toggle-menu{
            float: right;
            padding: rem-calc(8);
            margin:rem-calc(15) 0;
            @include border-radius(rem-calc(5));
            border: 1px solid transparent;
            &:hover{
                border-color: #fff;
            }
            span{
                width: rem-calc(20);
                height: rem-calc(2);
                background: #fff;
                display: block;
                margin-top: rem-calc(4);
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    .banner{
        background: #fff;
        a{
            font-weight: 700;
            color: #525252;
            font-size: rem-calc(30);
            line-height: rem-calc(30);
            display: none;
        }
        em{
            float: right;
            margin-top: rem-calc(5);
        }
    }
}
.site-container{
    @include clearfix();
}
.left-menu{
    font-size: rem-calc(14);
    ul {
        background: #fff;
        margin: rem-calc(15) 0;
        list-style: none;
        padding: 0 0 rem-calc(10);
        @include border-radius(rem-calc(5));
        li{
            a{
                display: block;
                padding: rem-calc(12) 0 rem-calc(12) rem-calc(20);
                color: #485a6a;
                &:hover{
                    color: #40C0E8;
                    background: #F4F6FA;
                }
            }
            &.item-group{
                text-transform: uppercase;
                color: #40C0E8;
                font-weight: 700;
                padding: rem-calc(25) rem-calc(15) 0;
            }
            &.active{
                position: relative;
                &:before{
                    position: absolute;
                    content: ' ';
                    width: 3px;
                    height: 100%;
                    background: #40C0E8;
                    left: -3px;
                }
                a{
                    color: #40C0E8;
                    background: #F4F6FA;
                }
            }
        }
    }
}
.information{
    margin-top: rem-calc(15);
    margin-bottom: rem-calc(15);
    .content-info {
        background: #fff;
        @include border-radius(rem-calc(5));
        padding: rem-calc(15);
        font-size: rem-calc(14);
    }
}
.main-container{
    margin-bottom: rem-calc(15);
    margin-top: rem-calc(15);
    .content{
        background: #fff;
        @include border-radius(rem-calc(5));
        padding: rem-calc(15);
        font-size: rem-calc(15);
    }
}

@import "app/medium";
@import "app/large";

